<% content_for :head do %>
  <meta name="title" content="About | Transparental Solutions - IT Services and Consulting"/>
  <meta name="description" content="Transparental Solutions works in offering Custom Software Solutions, IT Staffing & Services, and Managed IT Services."/>
<% end %>
  <div class="offwrap"></div>
    <div class="main-content">
			<%= render "nav" %>
			<div class="rs-breadcrumbs img1">
				<div class="container">
					<div class="breadcrumbs-inner">
						<h1 class="page-title">
							About Us
							<span class="watermark">About</span>
						</h1>
						<span class="sub-text"> Transparental Solutions works in offering Custom Software Solutions, IT Staffing & Services,
							and Managed IT Services</span>
					</div>
				</div>
			</div>
      <div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 pr-33 md-pr-15 md-mb-50">
							<div class="images-part">
									<%= image_tag("about_us.png", alt: "logo") %>
							</div>
						</div>
						<div class="col-lg-6 ">
							<div class="sec-title">
								<h2 class="title pb-22">
									Transparental Solutions works in offering Custom Software Solutions, IT Staffing & Services, and Managed
									IT Services
								</h2>
								<span class="sub-text big">Throughout the long term, we have been assisting our clients with
									accomplishing functional greatness and consistency on the software. We aim to deliver
									quality services and support to accomplish excellence and enable you to turn into an
									innovation-driven enterprise.</span>

								<p class="sub-text big margin-0 pt-15">We believed in advanced innovation accomplices of
									business empowering them to use IT as an essential resource. We are a blend of team
									engaged by innovation skills, flawless execution capacities, and keen focus on the
									client needs; we have had the option to support accomplishment in a wide range of
									technologies and verticals.</p>
								<div class="btn-part mt-45 md-mt-30">
									<%= link_to "Contact Us" , contact_us_page_path , class: "readon consultant discover" %>
								</div>
							</div>
						</div>
					</div>
        </div>
				<div class="rs-animation">
					<div class="animate-style">
						<%= image_tag("tri-circle-1.png" ,alt:"logo",class:"scale") %>
					</div>
				</div>
      </div>
			<div id="rs-services" class="rs-services chooseus-style about-style bg12 pt-100 pb-100 md-pt-70 md-pb-70">
				<div class="container">
				  <div class="row">
						<div class="col-lg-4 col-md-6 md-mb-30">
							<div class="services-item">
								<div class="services-icon">
									<%= image_tag("11.png" ,alt:"logo") %>
								</div>
								<div class="services-text">
									<h3 class="title"><a href="#">Expert peoples</a></h3>
								</div>
						  </div>
						</div>
						<div class="col-lg-4 col-md-6 sm-mb-30">
							<div class="services-item">
								<div class="services-icon">
								<%= image_tag("2.png" ,alt:"Images") %>
								</div>
								<div class="services-text">
									<h3 class="title"><a href="#">Big experience</a></h3>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="services-item">
								<div class="services-icon">
									<%= image_tag("24.png" ,alt:"Images") %>
								</div>
								<div class="services-text">
									<h3 class="title"><a href="#">Committed to quality</a></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
      <!-- Services Section End -->

      <!-- Why Choose Section Start -->
			<div class="rs-choose pt-50 pb-50 md-pt-50 md-pb-50">
				<div class="container">
					<div class="row y-middle">
						<div class="col-lg-6 pr-70 md-pr-15 md-mb-50">
							<div class="sec-title mb-35">
								<h2 class="title pb-30">
									Why choose us
								</h2>
								<p class="">We have designed various applications, built various innovation teams and
									frameworks, and conveyed huge monetary outcomes to our clients. We have been lucky to
									work across different verticals and industry pioneers among them and have acquired
									insight into the most complex business environments.</p>
								<p class="margin-0">At Transparental Solutions, we endeavour to fabricate innovative and adaptable solutions
									which meet the needs of our clients in a unique way.</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="rs-videos choose-video">
								<div class="images-video">
									<%= image_tag("why_choose_us.png" ,alt:"images") %>
								</div>
							</div>
						</div>
					</div>
				</div>
        <!-- Counter Section End -->
        <div class="rs-counter style1 pt-100 md-pt-70">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 md-mb-30">
								<div class="counter-area">
									<div class="counter-list mb-20">
										<div class="counter-icon">
											<%= image_tag("21.png" ,alt:"Counter") %>
										</div>
										<div class="counter-number">
											<span class="rs-count">45</span>
										</div>
									</div>
									<div class="content-part">
										<h5 class="title">Projects completed for our respected clients.</h5>
									</div>
							  </div>
						  </div>
							<div class="col-lg-3 col-md-6 col-sm-6 md-mb-30">
								<div class="counter-area">
									<div class="counter-list mb-20">
										<div class="counter-icon">
											<%= image_tag("2.png" ,alt:"Images") %>
										</div>
										<div class="counter-number">
											<span class="rs-count">20</span>
											<span class="prefix">+</span>
										</div>
									</div>
									<div class="content-part">
										<h5 class="title">Experienced people serving to clients.</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 xs-mb-30">
								<div class="counter-area">
									<div class="counter-list mb-20">
										<div class="counter-icon">
											<%= image_tag("23.png" ,alt:"Counter") %>
										</div>
										<div class="counter-number">
											<span class="rs-count">10</span>
											<span class="prefix">+</span>
										</div>
									</div>
									<div class="content-part">
										<h5 class="title">Years experience in business & consulting.</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="counter-area">
									<div class="counter-list mb-20">
										<div class="counter-icon">
											<%= image_tag("24.png" ,alt:"Counter") %>
										</div>
										<div class="counter-number">
											<span class="rs-count">12</span>
											<span class="prefix">+</span>
									  </div>
									</div>
									<div class="content-part">
										<h5 class="title">Business & consulting awards won over world.</h5>
									</div>
								</div>
							</div>
            </div>
          </div>
        </div>
      </div>
			<div class="rs-testimonial main-home bg6 pt-50 pb-50 md-pt-50 md-pb-50">
				<div class="container">
					<div class="row y-middle">
						<div class="col-lg-6 md-mb-40">
							<div class="testi-image">
								<%= image_tag("customers_say.png" ,alt:"Testimonial") %>
							</div>
						</div>
						<div class="col-lg-6 pl-60 md-pl-15">
							<div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="30"
								data-autoplay="false" data-hoverpause="true" data-autoplay-timeout="5000"
								data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false"
								data-md-device="1" data-md-device-nav="false" data-md-device-dots="true"
								data-center-mode="false" data-ipad-device2="1" data-ipad-device-nav2="false"
								data-ipad-device-dots2="true" data-ipad-device="1" data-ipad-device-nav="false"
								data-ipad-device-dots="true" data-mobile-device="1" data-mobile-device-nav="false"
								data-mobile-device-dots="true">
								<div class="testi-item">
									<div class="item-content">
										<span class="icon-img">
											<%= image_tag("quote-1.png" ,alt:"") %>
										</span>
										<p class="desc">
											I’m so pleased with the good company culture here at Transparental Solutions. Employees adhere
											to company policies and procedures and behave well. I’m really happy working
											here and continuing my career furthermore here
										</p>
									</div>
									<div class="testi-content">
										<div class="testi-information">
												<div class="testi-name">-Mounika Reddy</div>
										</div>
									</div>
								</div>
								<div class="testi-item">
									<div class="item-content">
										<span class="icon-img">
											<%= image_tag("quote-1.png" ,alt:"") %>
										</span>
										<p class="desc">
											Excellent educational standards! as well as effective communication... My
											knowledge was completely empty when I started my full stack programming course.
											This training is extremely beneficial to both beginners and professionals. They
											were thorough in their explanations of any doubts or topics.</p>
									</div>
									<div class="testi-content">
										<div class="testi-information">
											<div class="testi-name">-Raj Kumar</div>
										</div>
									</div>
								</div>
								<div class="testi-item">
									<div class="item-content">
										<span class="icon-img">
											<%= image_tag("quote-1.png" ,alt:"") %>
										</span>
										<p class="desc">
											Good for Beginners to understand the basic knowledge of Salesforce. Transparental Solutions
											provides a full-fledged course in the most informative and well-chosen modules.
											This is the most optional course with the most qualified experts.
										</p>
									</div>
									<div class="testi-content">
										<div class="testi-information">
											<div class="testi-name">-Keerti</div>
										</div>
									</div>
								</div>
								<div class="testi-item">
									<div class="item-content">
										<span class="icon-img">
											<%= image_tag("quote-1.png" ,alt:"") %>
										</span>
										<p class="desc">
												I have been working at Transparental Solutions, for the past 2 years as a salesforce
												administrator. I have found very friendly management here, and I would recommend
												it for its perfect work environment to help your professional career. </p>
									</div>
									<div class="testi-content">
										<div class="testi-information">
											<div class="testi-name">-Navya</div>
										</div>
									</div>
								</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="rs-footer" class="rs-footer style1">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
							<div class="footer-logo mb-40">
								<a href="index.html"><%= image_tag("logo-1.png" ,alt:"") %></a>
							</div>
							<div class="textwidget white-color pb-40">
								<p>Transparental Solutions LLC One who provides the most sophisticated and comprehensive end-to-end
										Business Requirements and Solutions to our Customers, and forms an integral link in the
										global supply chain.</p>
							</div>
							<ul class="footer-social md-mb-30">  
								<li> 
									<a href="https://www.facebook.com/people/Transparental-Solutions-LLC/100076633352325/?mibextid=uzlsIk" target="_blank"><span><i class="fa fa-facebook"></i></span></a> 
								</li>
								<li> 
									<a href="#" target="_blank"><span><i class="fa fa-twitter"></i></span></a> 
								</li>
								<li> 
									<a href=" https://www.linkedin.com/company/transparental-solutionsllc/?viewAsMember=true" target="_blank"><span><i class="fa fa-linkedin"></i></span></a> 
								</li>
								<li> 
									<a href="#" target="_blank"><span><i class="fa fa-instagram"></i></span></a> 
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-12 col-sm-12 md-mb-10 pl-55 md-pl-15">
							<h3 class="footer-title">Our Services</h3>
							<ul class="site-map">
								<li><a href="#">Custom Software Solutions</a></li>
								<li><a href="#">IT Staffing & Services</a></li>
								<li><a href="#">Managed IT Services</a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
							<h3 class="footer-title">Contact Info</h3>
							<ul class="address-widget">
								<li>
									<i class="flaticon-location"></i>
									<div class="desc">38251 Remington park , Farmington Hills,MI,48331
									</div>
								</li>
								<li>
									<i class="flaticon-call"></i>
									<div class="desc">
										<a href="tel: 320-412-3138
										"> 320-412-3138
										</a>
									</div>
								</li>
								<li>
									<i class="flaticon-email"></i>
									<div class="desc">
										<a href="mailto:info@transparentalsolutions.com">info@transparentalsolutions.com</a>
									</div>
								</li>
								<li>
									<i class="flaticon-clock-1"></i>
									<div class="desc">
										Office Hours: 9AM - 6PM
									</div>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-12 col-sm-12">
							<h3 class="footer-title">Newsletter</h3>
							<p class="widget-desc white-color">Stay up to update with our latest news and products.</p>
							<p><a style="color:#FFF" href="#" title="My Visa Jobs" alt="My Visa Jobs"
											target="_blank">MyvisaJobs</a></p>
							<p><a style="color:#FFF" href="#" title="Glassdoor" alt="Glassdoor"
											target="_blank">Glassdoor</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row y-middle">
						<div class="col-lg-8 md-mb-10 text-lg-end text-center order-last">
							<ul class="copy-right-menu">
								<li><%= link_to "Home" , root_path %></li>
								<li><%= link_to "About Us" , about_page_path %></li>
								<li><%= link_to "Service" , service_page_path %></li>
								<li><%= link_to "Contact" , contact_us_page_path %></li>
								<li><%= link_to "Careers" , careers_page_path %></li>
								<li><%= link_to "Job posting" , job_posting_page_path %></li>
							</ul>
						</div>
						<div class="col-lg-4">
							<div class="copyright text-lg-start text-center ">
								<p>Copyright ©2024 Transparental Solutions. All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
    </footer>
    <div id="scrollUp" class="orange-color">
			<i class="fa fa-angle-up"></i>
    </div>
    <div class="modal fade search-modal" id="searchModal" tabindex="-1">
			<button type="button" class="close" data-bs-dismiss="modal">
				<span class="flaticon-cross"></span>
			</button>
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="search-block clearfix">
						<form>
							<div class="form-group">
								<input class="form-control" placeholder="Search Here..." type="text">
								<button type="submit" value="Search"><i class="flaticon-search"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
    </div>
    <script>
			$(document).ready(function () {
				setTimeout(function () {
				}, 1000 * 5);
			});
    </script>
	</div>	