<%= render "nav" %>
<div class="container-fluid custom-image" style="height:80vh", id="custom">
        <h2  class="pt-4 text-dark"> Custom Software Solutions </h2>
        <h6> Your website, your rules. Elevate user engagement and business performance with our custom software solutions, designed exclusively for your online platform.</h6>
</div>
<div class="container-fluid bg-light" , id="staf">
    <div class="row h-75">
        <div class="col-6 mt-5 ">
            <h3 style="color: #ff9700"> IT Staffing & Services</h3>
            <h6> Empower your innovation with our IT staffing and services. Where expertise meets ambition, extraordinary outcomes unfold.</h6>
        </div>
        <div class="col-6 my-5">
                <img src="https://media.istockphoto.com/id/1310275599/vector/hr-agency-applicants-queue-for-consideration-people-group-of-resume-background-candidates.jpg?s=612x612&w=0&k=20&c=LBCQhMkIYRHCGuQTBk9q7vl_weQBkkGh9JepL7Mgb_Q=" style="height:500px"%>
        </div>
    </div>
</div>
<div class="container mb-5 h-50", id="it">
        <div class="row">
            <div class="col-6 mt-5">
                <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Managed_It_Services.jpg" ,width="500px", height:"500px" />
            </div>
            <div class="col-6">
                    <h3 class="mt-5" style="color: #ff9700"> Managed IT Services</h3>
                    <h6>Your success, our priority. Experience worry-free IT with our Managed Services, where we handle the technology, and you focus on growing your business. </h6>
            </div>
        </div>
 </div>
<!------------- footer section --------->
<footer id="rs-footer" class="rs-footer style1">
<div class="footer-top">
  <div class="container">
    <div class="row">
              <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                  <div class="footer-logo mb-40">
                      <a href="index.html"><%= image_tag("logo-1.png", alt: "") %></a>
                  </div>
                  <div class="textwidget white-color pb-40">
                      <p>Transparental Solutions LLC One who provides the most sophisticated and comprehensive end-to-end
                          Business Requirements and Solutions to our Customers, and forms an integral link in the
                          global supply chain.</p>
                  </div>
                  <ul class="footer-social md-mb-30">  
                        <li> 
                            <a href="https://www.facebook.com/people/Transparental-Solutions-LLC/100076633352325/?mibextid=uzlsIk" target="_blank"><span><i class="fa fa-facebook"></i></span></a> 
                        </li>
                        <li> 
                            <a href="#" target="_blank"><span><i class="fa fa-twitter"></i></span></a> 
                        </li>
                        <li> 
                            <a href=" https://www.linkedin.com/company/transparental-solutionsllc/?viewAsMember=true" target="_blank"><span><i class="fa fa-linkedin"></i></span></a> 
                        </li>
                        <li> 
                            <a href="#" target="_blank"><span><i class="fa fa-instagram"></i></span></a> 
                        </li>
                 </ul>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10 pl-55 md-pl-15">
                  <h3 class="footer-title">Our Services</h3>
                  <ul class="site-map">
                      <li><a href="#">Custom Software Solutions</a></li>
                      <li><a href="#">IT Staffing & Services</a></li>
                      <li><a href="#">Managed IT Services</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                  <h3 class="footer-title">Contact Info</h3>
                  <ul class="address-widget">
                      <li>
                          <i class="flaticon-location"></i>
                          <div class="desc">38251 Remington park , Farmington Hills,MI,48331
                          </div>
                      </li>
                      <li>
                          <i class="flaticon-call"></i>
                          <div class="desc">
                              <a href="tel:320-412-3138">320-412-3138</a>
                          </div>
                      </li>
                      <li>
                          <i class="flaticon-email"></i>
                          <div class="desc">
                              <a href="mailto: info@transparentalsolutions.com"> info@transparentalsolutions.com</a>
                          </div>
                      </li>
                      <li>
                          <i class="flaticon-clock-1"></i>
                          <div class="desc">
                              Office Hours: 9AM - 6PM
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                  <h3 class="footer-title">Newsletter</h3>
                  <p class="widget-desc white-color">Stay up to update with our latest news and products.</p>
                  <p><a style="color:#FFF" href="#" title="My Visa Jobs" alt="My Visa Jobs"
                          target="_blank">MyvisaJobs</a></p>
                  <p><a style="color:#FFF" href="#" title="Glassdoor" alt="Glassdoor"
                          target="_blank">Glassdoor</a></p>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row y-middle">
              <div class="col-lg-8 md-mb-10 text-lg-end text-center order-last">
                  <ul class="copy-right-menu">
                      <li><%= link_to "Home" , root_path %></li>
                      <li><%= link_to "About Us" , about_page_path %></li>
                      <li><%= link_to "Service" , service_page_path %></li>
                      <li><%= link_to "Contact" , contact_us_page_path %></li>
                      <li><%= link_to "Careers" , careers_page_path %></li>
                      <li><%= link_to "Job posting" , job_posting_page_path %></li>
                  </ul>
              </div>
              <div class="col-lg-4">
                  <div class="copyright text-lg-start text-center ">
                      <p>Copyright ©2024 Transparental Solutions. All rights reserved.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<div id="scrollUp" class="orange-color"><!DOCTYPE html>

  <i class="fa fa-angle-up"></i>
</div>
<div class="modal fade search-modal" id="searchModal" tabindex="-1">
  <button type="button" class="close" data-bs-dismiss="modal">
      <span class="flaticon-cross"></span>
  </button>
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="search-block clearfix">
              <form>
                  <div class="form-group">
                      <input class="form-control" placeholder="Search Here..." type="text">
                      <button type="submit" value="Search"><i class="flaticon-search"></i></button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
